<!DOCTYPE html>
{%extends 'base.html'%}

{%block content%}
<form class="box form-horizontal" method="post" action="/project/update/">
    <div class="row-fluid sortable">
        <div class="span12">
            <div class="box-header well" data-original-title>
        	<h2><i class="icon-edit"></i>项目信息</h2>
        	<div class="box-icon">
        	    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
        	</div>
            </div>
            <div class="box-content">
                <table class="table-condensed">
                    <tr>
                    <td><label class="control-label">域名：</label>
		    <input type="text" maxlength="50" value="{{ pro_edit.name }}" name="name" id="id_name">
		    </td>
                    </tr>
                    <tr>
                    <td><label class="control-label">状态：</label>
		    <select id="id_status" name="status">
		    {% if pro_edit.status == "y" %}
		    <option selected="selected" value="">活动</option>
			<option value="y">活动</option>
			<option value="n">非活动</option>
		    </select>
		    {% else %}
		    <option selected="selected" value="">非活动</option>
			<option value="y">活动</option>
			<option value="n">非活动</option>
		    </select>
		    {% endif %}
		    </td>
                    </tr>
                    <tr>
                    <td><label class="control-label">web服务：</label>
		    <input type="text" maxlength="50" value="{{ pro_edit.web }}" name="web" id="id_web">
		    </td>
                    </tr>
                    <tr>
                    <td><label class="control-label">家目录：</label>
		    <input type="text" maxlength="50" value="{{ pro_edit.document }}" name="document" id="id_document">
		    </td>
                    </tr>
                    <tr>
                    <td><label class="control-label">服务器ip：</label>
		    <select multiple="multiple" name="device" id="id_device" data-rel="chosen">
		    {%for device in devices%}
		    <option value={{device.id}}>{{device.nei_ip}}</option>
		    {%endfor%}
		    </select>
		    </td>
                    </tr>
		    <tr><input type="hidden" value="{{ pro_edit.id }}" name="id"></tr>
                </table>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <div class="center">
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
{%endblock%}
