{%extends 'base.html'%}

{%block content%}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
    	<h2>服务器列表</h2>
        </div>
        <div class="box-content">
	    <div class="row-fluid">
		<div class="span4">
		    <div id="DataTables_Table_0_length" class="dataTables_length">
			<label><select name="DataTables_Table_0_length" size="1" aria-controls="DataTables_Table_0">
			    <option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option>
			    <option value="100">100</option></select> records per page
			</label>
		    </div>
		</div>
	    <div class="span8">
		<div class="dataTables_filter">
		    <form method="GET" action="/device/list/">
		    <input type="text" name="search" id="search" aria-controls="DataTables_Table_0">
		    <button type="submit" class="btn btn-primary">Search</button>
		    </form>
		</div>
	    </div>
	</div>
    	<table class="table">
    	      <thead>
    		  <tr>
    		      <th>内网ip</th>
    		      <th>公网ip</th>
    		      <th>主机名</th>
    		      <th>状态</th>                                          
    		      <th>操作</th>                                          
    		  </tr>
    	      </thead>   
    	      <tbody>
		{% for device in devices%}
    		<tr>
    		    <td><a href="/device/list/{{device.nei_ip}}">{{device.nei_ip}}</a></td>
    		    <td class="center">{{device.wai_ip}}</td>
    		    <td class="center">{{device.hostname}}</td>
    		    <td class="center">
			{% if device.status == 'y' %}
    			<span class="label label-success">Active</span>
			{% else %}
			<span class="label label-important">Unactive</span>
			{% endif %}
    		    </td>  
                    <td class="center ">
                        <a class="btn btn-info dev_edit"><i class="icon-edit icon-white"></i>Edit</a>
                        <a class="btn btn-danger dev_del"><i class="icon-trash icon-white"></i>Delete</a>
                    </td>
                    <input type="hidden" name='devid' value="{{ device.id }}">                                     
    		</tr>
		{%endfor%}
    	      </tbody>
    	 </table>  
    	 <div class="pagination pagination-centered">
    	  <ul>
	    {% if devices.has_previous %}
    	    <li><a href="?search={{ search }}&page={{ devices.previous_page_number }}">Prev</a></li>
	    {% endif %}
	    {% for number in page_list%}
    	    <li><a href="?search={{ search }}&page={{ number }}">{{ number }}</a></li>
	    {% endfor %}
	    {% if devices.has_next %}
    	    <li><a href="?search={{ search }}&page={{ devices.next_page_number }}">Next</a></li>
	    {% endif %}
    	  </ul>
    	</div>
 
        </div>
    </div><!--/span-->
</div><!--row-->
		
{%endblock%}
