{%extends 'base.html'%}

{%block content%}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
    	<h2>服务器列表</h2>
        </div>
        <div class="box-content">
	    <div class="row-fluid">
		<div class="span4">
		    <div id="DataTables_Table_0_length" class="dataTables_length">
			<label><select name="DataTables_Table_0_length" size="1" aria-controls="DataTables_Table_0">
			    <option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option>
			    <option value="100">100</option></select> records per page
			</label>
		    </div>
		</div>
	    <div class="span8">
		<div class="dataTables_filter" id="DataTables_Table_0_filter">
		    <form method="GET" action="/project/list/">
		    <input type="text" name='search' id='search' aria-controls="DataTables_Table_0">
		    <button type="submit" class="btn btn-primary">Search</button>
		    </form>
		</div>
	    </div>
	</div>
    	<table class="table">
    	      <thead>
    		  <tr>
    		      <th>项目名称：</th>
    		      <th>服务名：</th>
    		      <th>家目录</th>
    		      <th>状态：</th>                                          
    		      <th>操作：</th>                                          
    		  </tr>
    	      </thead>   
    	      <tbody>
		{% for project in projects%}
    		<tr>
    		    <td><a href="/project/list/{{project.name}}">{{project.name}}</a></td>
    		    <td class="center">{{project.web}}</td>
    		    <td class="center">{{project.document}}</td>
    		    <td class="center">
			{% if project.status == 'y' %}
    			<span class="label label-success">Active</span>
			{% else %}
			<span class="label label-important">Unactive</span>
			{% endif %}
    		    </td>    
                    <td class="center ">
			<a class="btn btn-info pro_edit"><i class="icon-edit icon-white"></i>Edit</a>
			<a class="btn btn-danger pro_del"><i class="icon-trash icon-white"></i>Delete</a>
		    </td>                                   
		    <input type="hidden" name='proid' value="{{ project.id }}">
    		</tr>
		{%endfor%}
    	      </tbody>
    	 </table>  
    	 <div class="pagination pagination-centered">
    	  <ul>
            {% if projects.has_previous %}
            <li><a href="?search={{ search }}&page={{ projects.previous_page_number }}">Prev</a></li>
            {% endif %}
            {% for number in page_list%}
            <li><a href="?search={{ search }}&page={{ number }}">{{ number }}</a></li>
            {% endfor %}
            {% if projects.has_next %}
            <li><a href="?search={{ search }}&page={{ projects.next_page_number }}">Next</a></li>
            {% endif %}
    	  </ul>
    	</div>     
        </div>
    </div><!--/span-->
</div><!--row-->


{%endblock%}
